<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123044865391-n12tts8mmjkdujre5uat3t15lg8t1ke1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123044865391-n12tts8mmjkdujre5uat3t15lg8t1ke1</string>
	<key>API_KEY</key>
	<string>AIzaSyCtirZT3ieZ9kmg61r7VWmtv3kU_QiidRA</string>
	<key>GCM_SENDER_ID</key>
	<string>123044865391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polylavery</string>
	<key>PROJECT_ID</key>
	<string>polylavery-51138</string>
	<key>STORAGE_BUCKET</key>
	<string>polylavery-51138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123044865391:ios:638e2ac081cbe2a7ad349a</string>
</dict>
</plist>